<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d0b97ffc83.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{style/style.css}">
    <title>Editar Produto</title>
</head>
<body>
    <header>
        <div class="menu">
            <h1 class="logo">DiabeteShop</h1>
            <form action="#">
                <input type="text" name=pesquisa placeholder="Buscar Produto">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <nav class="header-menu">
                <ul class="lista-itens">
                    <li><a href="/">Início</a></li>
                    <li><a href="/adicionarCliente">cadastre-se</a>
                        <div class="sub-menu">
                            <ul class="itens">
                                <li> <a href="/listarClientes">Informações</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/adicionarProduto">Add produtos</a>
                        <div class="sub-menu-1">
                            <ul class="itens-1">
                                <li> <a href="/listarProdutos">Informações </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
<h1><h1><h1><h1><h1></h1></h1></h1></h1></h1>
    <section class="container1">

        <form class="form-principal" method="POST" th:object="${produto}" th:action="@{/edit/{id}(id=${produto.id})}">
            <h2>Editar Produto</h2>
            <fieldset>
                <div class="container2">
                    <label>Nome Produto*:</label>
                    <input type="text" placeholder="Nome do produto." th:field="*{nome}" required />

                </div>

                <div class="container2">
                    <label>Marca *:</label>
                    <input type="text" placeholder="Marca" th:field="*{marca}" required />
                    "
                </div>

                <div class="container2">
                    <label>Altura *:</label>
                    <input type="text" placeholder="Altura" th:field="*{altura}" required />
                </div>

            </fieldset>

            <fieldset>
                <div class="container2">
                    <label>Largura *:</label>
                    <input type="text" placeholder="Largura" th:field="*{largura}" required />
                </div>

                <div class="container2">
                    <label>Profundidade *:</label>
                    <input type="text" placeholder="Profundidade" th:field="*{profundidade}" required />
                </div>

                <div class="container2">
                    <label>Volume *:</label>
                    <input type="text" placeholder="Volume" th:field="*{volume}" required />
                </div>
            </fieldset>

            <fieldset>
                <div class="container2">
                    <label>Peso *:</label>
                    <input type="text" placeholder="Peso" th:field="*{peso}" required />
                </div>

                <div class="container2">
                    <label>Preço compra *:</label>
                    <input type="text" placeholder="Preço de Compra" th:field="*{precoCompra}" required />
                </div>

                <div class="container2">
                    <label>Preço venda *:</label>
                    <input type="text" placeholder="Preço de Venda" th:field="*{precoVenda}" required />
                </div>

                <div class="input1">
                    <input type="reset" value="Limpar">
                    <input type="submit" value="Adicionar!">
                </div>
                <p>* Campo Obrigatório</p>
            </fieldset>
        </form>
    </section>
</body>
</html>