<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d0b97ffc83.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{style/style.css}">
    <title>Produtos cadastrados</title>
</head>

<body>
    <header>
        <div class="menu">
            <h1 class="logo">DiabeteShop</h1>
            <form action="#">
                <input type="text" name=pesquisa placeholder="Buscar Produto">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <nav class="header-menu">
                <ul class="lista-itens">
                    <li><a href="/">Início</a></li>
                    <li><a href="/adicionarCliente">cadastre-se</a>
                        <div class="sub-menu">
                            <ul class="itens">
                                <li> <a href="/listarClientes">Informações</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/adicionarProduto">Add produtos</a>
                        <div class="sub-menu-1">
                            <ul class="itens-1">
                                <li> <a href="/listarProdutos">Informações </a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Nome Produto</th>
                <th>marca</th>
                <th>altura</th>
                <th>largura</th>
                <th>profundidade</th>
                <th>volume</th>
                <th>peso</th>
                <th>precoCompra</th>
                <th>precoVenda</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todosOsprodutos: ${todosOsprodutos}">
                <td th:text="${todosOsprodutos.id}"></td>
                <td th:text="${todosOsprodutos.nome}"></td> 
                <td th:text="${todosOsprodutos.marca}"></td>

                <td th:text="${todosOsprodutos.altura}"></td>
                <td th:text="${todosOsprodutos.largura}"></td>
                <td th:text="${todosOsprodutos.profundidade}"></td>
                <td th:text="${todosOsprodutos.volume}"></td>
                <td th:text="${todosOsprodutos.peso}"></td>
                <td th:text="${todosOsprodutos.precoCompra}"></td>
                <td th:text="${todosOsprodutos.precoVenda}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${todosOsprodutos.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/remove/{id}(id=${todosOsprodutos.id})}">Remover</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>