@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Titillium+Web:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.2%;
    color: black;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    height: 7vh;
    background-color: #000000;
}

.menu {
    text-transform:uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    background-color: red;
    padding:10px;
}

form {
    border: 1px solid whitesmoke;
    border-radius: 0.3em;
    padding: 0.3em;
}
form input, form button {
    font-size: 1.2em;
    border-radius: 0.2ms;
    border: none;
    padding: 0.2em;
}

form button {
    cursor: pointer;
    background-color: red;
    color: whitesmoke;
}

form button:hover {
    background-color: whitesmoke;
    color: red;
}

input {
    outline: none;
    border-radius: 25px;
    height: 25px;
    width: 89%;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.header-menu .lista-itens {
    display: flex;
    list-style: none;
   
}

.header-menu .lista-itens a {
    text-decoration: none;
    color: black;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.header-menu .lista-itens a:before {
    content:' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: blue;
    transition: all 1.5s ease;
}

.header-menu .lista-itens a:hover:before {
    width: 100%;

}

.sub-menu {
    display: none;
}

.header-menu .lista-itens:hover .sub-menu {
    font-size: 12px;
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 15px;
    margin-left: 14px;
    transition: 0.7s;
    padding: 10px;
    border-radius: 5px;
}

.itens {
    list-style: none;
    text-decoration: none;
}

.itens-1 {
    list-style: none;
    text-decoration: none;
} 

.sub-menu-1 {
    display: none;
}
.header-menu .lista-itens:hover .sub-menu-1{
    font-size: 12px;
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 15px;
    margin-left: 14px;
    transition: 0.7s;
    padding: 10px;
    border-radius: 5px;
}