<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/public/favicon.ico}" rel="icon" type="image/x-icon">
    <link th:href="@{/style/style.css}" rel="stylesheet" />
    <title>Adicionar pessoas</title>
</head>

<body>
    <ul class="topnav">
        <li><a href="/">Início</a></li>
        <li><a class="active" href="/adicionarPessoa">Adicionar pessoas</a></li>
        <li><a href="/listarPessoas">Listar pessoas</a></li>
        <li><a href="/public/noticias.html">Notícias</a></li>
        <li><a href="/public/contato.html">Mande um e-mail</a></li>
        <li class="right"><a href="/public/sobre.html">Sobre o site</a></li>
    </ul>

    <h1>Formulário para cadastro de pessoas:</h1>

    <form method="POST" th:object="${pessoa}" th:action="@{/adicionarPessoa}">
        <p>
            Nome completo *:
            <input type="text" placeholder="Seu nome completo." th:field="*{nome}" required />
        </p>
        <p>
            Data de nascimento *:
            <input type="date" placeholder="dd/mm/aaaa" th:field="*{dataNascimento}" required />
        </p>
        <p>
            e-Mail *:
            <input type="text" placeholder="nome@dominio.com" th:field="*{email}" required />
        </p>

        <p>Gênero *:</p>
        <p>
            <input type="radio" name="genero" value="Masculino" th:field="*{genero}" required />Masculino
        </p>
        <p>
            <input type="radio" name="genero" value="Feminino" th:field="*{genero}" required />Feminino
        </p>
        <p>
            <input type="radio" name="genero" value="Não Informado" th:field="*{genero}" required />Não informar
        </p>

        <input type="reset" value="Limpar">
        <input type="submit" value="Adicionar!">

        <p>* Campo Obrigatório</p>
    </form>
</body>

</html>