<!DOCTYPE html>
<html lang="pt_br">
<head>
    <title>Editar pessoa</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <ul class="topnav">
        <li><a class="active" href="index.html">Início</a></li>
        <li><a href="adicionarPessoa.html">Adicionar pessoas</a></li>
        <li><a href="listarPessoas.html">Listar pessoas</a></li>
        <li><a href="noticias.html">Canais de notícias</a></li>
        <li><a href="contato.html">Mande um e-mail</a></li>
        <li class="right"><a href="sobre.html">Sobre o site</a></li>
      </ul>

      <h1>Formulário para edição de pessoas:</h1>

      <label for="nome">Nome completo*:</label>
      <input type="text" placeholder="Seu nome completo" required>
      <br>

      <label for="data"><br>Data de nascimento*:</label>
      <input type="date" required><br>

      <label for="email"><br>e-Mail*:</label>
      <input type="email" placeholder="nome@dominio.com" required><br>

      <label for="sexo"><br>Sexo*:</label><br>

      <br><input type="radio" id="primeira opção" name="Masculino" value="Masculino">
      <label for="Masculino">Masculino</label><br>

      <br><input type="radio" id="segunda opção" name="Feminino" value="Feminino">
      <label for="Feminino">Feminino</label><br>

      <br><input type="radio" id="terceira opção" name="Não informar" value="Não informar">
      <label for="Não informar">Não informar</label><br>


      <br><input type="submit" value="Limpar">
      <input type="submit" value="Cadastrar">

      <p>* Campo obrigatório</p>
  </form>
</body>

</html>