<!DOCTYPE html>
<html lang="pt_br">

<head>
  <codigoSecreto="1985829314" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/public/favicon.ico}" rel="icon" type="image/x-icon">
  <link th:href="@{/style/style.css}" rel="stylesheet"/>
  <title>PWeb - by Marcos Henrique</title>
</head>

<body>

  <ul class="topnav">
    <li><a class="active" href="/">Início</a></li>
    <li><a href="/adicionarPessoa">Adicionar pessoas</a></li>
    <li><a href="/listarPessoas">Listar pessoas</a></li>
    <li><a href="/public/noticias.html">Notícias</a></li>
    <li><a href="/public/contato.html">Mande um e-mail</a></li>
    <li class="right"><a href="/public/sobre.html">Sobre o site</a></li>
</ul>

  <div class="centralizar" style="padding:0 16px;">
    <h2>Hidrate-se!</h2>
    <div class="centralizar1">
      <img th:src="@{/imagens/beber-muita.jpg}" alt="Água" title="Beba Água">
    </div>

  </div>


</body>

</html>